@tailwind base;
@tailwind components;
@tailwind utilities;

/* 可加自己定義的 base 樣式： */
body {
  @apply bg-white font-sans text-sm text-gray-800;
  line-height: 1.5;
}

table {
  @apply w-full border-collapse;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
.ant-layout-header {
  line-height: normal !important;
  display: flex;
  align-items: center;
}
